.title {
  font-size: 20px;
  font-weight: inherit;
  margin-bottom: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.errorMessage {
  position: absolute;
  right: 8px;
  font-size: 12px;
  width: max-content;
  color: var(--color-red);
  padding: 8px;
  animation: shake 0.3s ease;
}

.input {
  background-color: var(--color-neutral-4);
  padding: 12px 16px;
  border-radius: 12px;
  transition: all 0.2s ease;
}
.input:focus {
  box-shadow:
    0 0 0 2px var(--color-white),
    0 0 0 4px var(--color-neutral-3);
}
.input::placeholder {
  color: var(--color-neutral-1);
}
.input.error {
  color: var(--color-red);
  background-color: var(--color-red-3);
  transition: all 0.2s ease;
  animation: shake 0.3s ease;
}
.input.error:focus {
  box-shadow:
    0 0 0 2px var(--color-white),
    0 0 0 4px var(--color-red);
}
.input.error::placeholder {
  color: var(--color-red-2);
}

.button {
  padding: 8px 16px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border-radius: 12px;
  cursor: pointer;
  transition: all 200ms ease;
}
.button:active {
  transform: scale(0.98);
}

.link {
  margin-left: 8px;
  color: var(--color-pink);
  transition: all 200ms ease;
}

.disclaimer {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  color: var(--color-neutral-1);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
