.title {
  font-size: 20px;
  font-weight: inherit;
  margin-bottom: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: var(--color-neutral-4);
  padding: 12px 16px;
  border-radius: 12px;
}
.input:focus {
  outline: 2px solid var(--color-neutral-3);
  outline-offset: 2px;
}
.input::placeholder {
  color: var(--color-neutral-1);
}

.button {
  padding: 8px 16px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border-radius: 12px;
  cursor: pointer;
  transition: all 200ms ease;
}
.button:active {
  transform: scale(0.98);
}

.link {
  margin-left: 8px;
  color: var(--color-pink);
  transition: all 200ms ease;
}

.disclaimer {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  color: var(--color-neutral-1);
}
