.backLink {
  position: fixed;
  top: 16px;
  left: 16px;
  color: var(--color-neutral-1);
  transition: color 200ms;
}
.backLink:hover {
  color: var(--color-black);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 333px;
  background-color: var(--color-blue-2);
  color: var(--color-blue);
}

.title {
  font-size: 18px;
  font-weight: inherit;
  margin-bottom: 4px;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  font-weight: inherit;
  color: var(--color-neutral-1);
}
