.logo {
  width: 56px;
  height: 56px;
}

.title {
  font-size: 18px;
  font-weight: inherit;
  margin-bottom: 4px;
  text-align: center;
}
.subtitle {
  font-size: 16px;
  font-weight: inherit;
  color: var(--color-neutral-1);
}

.disclaimer {
  font-size: 14px;
  color: var(--color-neutral-1);
}
