.button {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 12px;
  width: 100px;
  height: 32px;
  cursor: pointer;
  transition: all 100ms ease;
  position: relative;
}
.button:active {
  transform: scale(0.97);
}

.span {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.loader {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
