.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.button {
  padding: 8px 16px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border-radius: 12px;
  cursor: pointer;
  transition: all 200ms ease;
}
.button:active {
  transform: scale(0.98);
}