.input {
  background-color: var(--color-neutral-4);
  padding: 12px 16px;
  border-radius: 12px;
  transition: all 0.2s ease;
}
.input:focus {
  box-shadow:
    0 0 0 2px var(--color-white),
    0 0 0 4px var(--color-neutral-3);
}
.input::placeholder {
  color: var(--color-neutral-1);
}
.input.error {
  color: var(--color-red);
  background-color: var(--color-red-3);
  transition: all 0.2s ease;
  animation: shake 0.3s ease;
}
.input.error:focus {
  box-shadow:
    0 0 0 2px var(--color-white),
    0 0 0 4px var(--color-red);
}
.input.error::placeholder {
  color: var(--color-red-2);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
