:root {
  --color-black: black;
  --color-white: white;
  --color-neutral-1: #c0c0c0;
  --color-neutral-3: #f3f3f3;
  --color-neutral-4: #f9f9f9;
  --color-pink: #ff69b8;
  --color-blue: #00b2ff;
  --color-blue-2: #e2f3fe;
  --color-red: #ff2b3a;
  --color-red-2: #ff8f97;
  --color-red-3: #ffe5e7;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-white);
}

input {
  outline: none;
  border: none;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
}
input::placeholder {
  font-weight: 400;
}

button {
  outline: none;
  border: none;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
}

#centered-content {
  width: 100%;
  max-width: 640px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
